<ActionBar title="Mode of payment">
    <NavigationButton text="Back" ios.position="left"></NavigationButton>
</ActionBar>
<GridLayout backgroundColor="#CCCCCC">
    <ScrollView>
        <StackLayout margin="10" verticalAlignment="top">
            
            <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">
                 
                <StackLayout class="input-field">
                   
                        <TextView editable="false">
            <FormattedString>
                <Span
                    text="The only mode of payment is cash on delivery or you can choose  ">
                </Span>
                <Span text="the mobile payment option like paytm or bhim pay." ></Span>
                
            </FormattedString>
        </TextView>
                   
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
               
            </StackLayout>
        </StackLayout>
    </ScrollView>
    
</GridLayout>
