<ActionBar title="Home">
    <NavigationButton text="Back" ios.position="left"></NavigationButton>
</ActionBar>
<GridLayout>
<BottomNavigation >
   <TabStrip>
        <TabStripItem>
            <Image src="font://&#xf015;" class="fas t-36"></Image>
        </TabStripItem>

        <TabStripItem class="special" (tap)="onOpenDrawerTap()">
           
            <Image src="font://&#xf002;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="special" >
           
            <Image src="font://&#xf07a;" class="fas t-36"></Image>
        </TabStripItem>
         <TabStripItem class="special" >
           
            <Image src="font://&#xf013;" class="fas t-36"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem >
    <GridLayout  rows="*" col="1">
        
  
    <StackLayout  style="text-align:center;">
        <ScrollView orientation="horizontal" style="vertical-align:top;" height="50">
            <GridLayout columns="auto auto auto auto auto auto ">
                <Label   class="h3 m-15" col="1" text="Zip : Title 1">
                </Label>
            </GridLayout>
        </ScrollView>
       <SearchBar hint="Search hint" [text]="searchPhrase"  
    (submit)="onSearchSubmit($event)"  style="text-align:center; vertical-align:top;"></SearchBar>
   <Button class="btn btn-primary w-full" text="Cancel search"
                    (tap)="onClear()"></Button>
    <ScrollView >
    <StackLayout  style="text-align:center;">
        <label text="Today's Special" class="searcbannerheader"></label>
        <ScrollView orientation="horizontal" style="vertical-align:top;" height="220">
            <GridLayout  columns="auto auto auto auto auto auto "> 
                <StackLayout col="1" class="specials">
                <Label class="footnote" text="The image above is the NativeScript logo"></Label>
                <Image src="~/images/05.jpg" rowSpan="2" width="252" height="160"  margin="3" verticalAlignment="top" (tap)="getDetails()" ></Image>
                  <WrapLayout >
                     <Image src="font://&#xf559;" class="fas t-36"></Image>                  
                     <Label class="footnote" text="Grab it !!"></Label>
                  </WrapLayout>
                 
                 </StackLayout>
                  <StackLayout col="2" class="specials">
                <Label class="footnote" text="The image above is the NativeScript logo"></Label>
                <Image src="~/images/02.jpg" rowSpan="2" width="252" height="160"  margin="3" verticalAlignment="top" ></Image>
                  <WrapLayout >
                     <Image src="font://&#xf559;" class="fas t-36"></Image>                  
                     <Label class="footnote" text="Grab it !!"></Label>
                  </WrapLayout>
                 </StackLayout>
                 <StackLayout col="3" class="specials">
                 <Label class="footnote" text="The image above is the NativeScript logo"></Label>
                <Image src="~/images/03.jpg" rowSpan="2" width="252" height="160"  margin="3" verticalAlignment="top" ></Image>
                  <WrapLayout >
                     <Image src="font://&#xf559;" class="fas t-36"></Image>                  
                     <Label class="footnote" text="Grab it !!"></Label>
                  </WrapLayout>
                 </StackLayout>
            </GridLayout>    
        </ScrollView>

        <label text="Birthday Special" class="searcbannerheader"></label>
       <ScrollView orientation="horizontal" style="vertical-align:top;" height="220">
            <GridLayout  columns="auto auto auto auto auto auto "> 
                <StackLayout col="1" class="specials">
                <Label class="footnote" text="The image above is the NativeScript logo"></Label>
                <Image src="~/images/05.jpg" rowSpan="2" width="252" height="160"  margin="3" verticalAlignment="top" ></Image>
                  <WrapLayout >
                     <Image src="font://&#xf559;" class="fas t-36"></Image>                  
                     <Label class="footnote" text="Grab it !!"></Label>
                  </WrapLayout>
                 
                 </StackLayout>
                  <StackLayout col="2" class="specials">
                <Label class="footnote" text="The image above is the NativeScript logo"></Label>
                <Image src="~/images/02.jpg" rowSpan="2" width="252" height="160"  margin="3" verticalAlignment="top" ></Image>
                  <WrapLayout >
                     <Image src="font://&#xf559;" class="fas t-36"></Image>                  
                     <Label class="footnote" text="Grab it !!"></Label>
                  </WrapLayout>
                 </StackLayout>
                 <StackLayout col="3" class="specials">
                 <Label class="footnote" text="The image above is the NativeScript logo"></Label>
                <Image src="~/images/03.jpg" rowSpan="2" width="252" height="160"  margin="3" verticalAlignment="top" ></Image>
                  <WrapLayout >
                     <Image src="font://&#xf559;" class="fas t-36"></Image>                  
                     <Label class="footnote" text="Grab it !!"></Label>
                  </WrapLayout>
                 </StackLayout>
            </GridLayout>    
        </ScrollView>



         <label text="Quick Bites" class="searcbannerheader"></label>
       <ScrollView orientation="horizontal" style="vertical-align:top;" height="220">
            <GridLayout  columns="auto auto auto auto auto auto "> 
                <StackLayout col="1" class="specials">
                <Label class="footnote" text="The image above is the NativeScript logo"></Label>
                <Image src="~/images/05.jpg" rowSpan="2" width="252" height="160"  margin="3" verticalAlignment="top" ></Image>
                  <WrapLayout >
                     <Image src="font://&#xf559;" class="fas t-36"></Image>                  
                     <Label class="footnote" text="Grab it !!"></Label>
                  </WrapLayout>
                 
                 </StackLayout>
                  <StackLayout col="2" class="specials">
                <Label class="footnote" text="The image above is the NativeScript logo"></Label>
                <Image src="~/images/02.jpg" rowSpan="2" width="252" height="160"  margin="3" verticalAlignment="top" ></Image>
                  <WrapLayout >
                     <Image src="font://&#xf559;" class="fas t-36"></Image>                  
                     <Label class="footnote" text="Grab it !!"></Label>
                  </WrapLayout>
                 </StackLayout>
                 <StackLayout col="3" class="specials">
                 <Label class="footnote" text="The image above is the NativeScript logo"></Label>
                <Image src="~/images/03.jpg" rowSpan="2" width="252" height="160"  margin="3" verticalAlignment="top" ></Image>
                  <WrapLayout >
                     <Image src="font://&#xf559;" class="fas t-36"></Image>                  
                     <Label class="footnote" text="Grab it !!"></Label>
                  </WrapLayout>
                 </StackLayout>
            </GridLayout>    
        </ScrollView>


         <label text="Top Thelaas" class="searcbannerheader"></label>
       <ScrollView orientation="horizontal" style="vertical-align:top;" height="220">
            <GridLayout  columns="auto auto auto auto auto auto "> 
                <StackLayout col="1" class="specials">
                <Label class="footnote" text="The image above is the NativeScript logo"></Label>
                <Image src="~/images/05.jpg" rowSpan="2" width="252" height="160"  margin="3" verticalAlignment="top" ></Image>
                  <WrapLayout >
                     <Image src="font://&#xf559;" class="fas t-36"></Image>                  
                     <Label class="footnote" text="Grab it !!"></Label>
                  </WrapLayout>
                 
                 </StackLayout>
                  <StackLayout col="2" class="specials">
                <Label class="footnote" text="The image above is the NativeScript logo"></Label>
                <Image src="~/images/02.jpg" rowSpan="2" width="252" height="160"  margin="3" verticalAlignment="top" ></Image>
                  <WrapLayout >
                     <Image src="font://&#xf559;" class="fas t-36"></Image>                  
                     <Label class="footnote" text="Grab it !!"></Label>
                  </WrapLayout>
                 </StackLayout>
                 <StackLayout col="3" class="specials">
                 <Label class="footnote" text="The image above is the NativeScript logo"></Label>
                <Image src="~/images/03.jpg" rowSpan="2" width="252" height="160"  margin="3" verticalAlignment="top" ></Image>
                  <WrapLayout >
                     <Image src="font://&#xf559;" class="fas t-36"></Image>                  
                     <Label class="footnote" text="Grab it !!"></Label>
                  </WrapLayout>
                 </StackLayout>
            </GridLayout>    
        </ScrollView>

 <label text="Nukkadwalas" class="searcbannerheader"></label>
       <ScrollView orientation="horizontal" style="vertical-align:top;" height="220">
            <GridLayout  columns="auto auto auto auto auto auto "> 
                <StackLayout col="1" class="specials">
                <Label class="footnote" text="The image above is the NativeScript logo"></Label>
                <Image src="~/images/05.jpg" rowSpan="2" width="252" height="160"  margin="3" verticalAlignment="top" ></Image>
                  <WrapLayout >
                     <Image src="font://&#xf559;" class="fas t-36"></Image>                  
                     <Label class="footnote" text="Grab it !!"></Label>
                  </WrapLayout>

                 </StackLayout>
                  <StackLayout col="2" class="specials">
                <Label class="footnote" text="The image above is the NativeScript logo"></Label>
                <Image src="~/images/02.jpg" rowSpan="2" width="252" height="160"  margin="3" verticalAlignment="top" ></Image>
                  <WrapLayout >
                     <Image src="font://&#xf559;" class="fas t-36"></Image>                  
                     <Label class="footnote" text="Grab it !!"></Label>
                  </WrapLayout>
                 </StackLayout>
                 <StackLayout col="3" class="specials">
                 <Label class="footnote" text="The image above is the NativeScript logo"></Label>
                <Image src="~/images/03.jpg" rowSpan="2" width="252" height="160"  margin="3" verticalAlignment="top" ></Image>
                  <WrapLayout >
                     <Image src="font://&#xf559;" class="fas t-36"></Image>                  
                     <Label class="footnote" text="Grab it !!"></Label>
                  </WrapLayout>
                 </StackLayout>
            </GridLayout>    
        </ScrollView>

    </StackLayout>    


    
         
</ScrollView>
</StackLayout>
    </GridLayout>
    </TabContentItem>
    <TabContentItem>
    <GridLayout>                       
  <ScrollView>

 <RadSideDrawer drawerLocation="Right">

                <StackLayout tkDrawerContent >
                    <StackLayout height="556" style="text-align:center;">
                        <Label text="Search"  class="searcbannerheader"></Label>
                        <TextField class="input" hint="Zip" keyboardType="number"
                        style="background-color:white;padding:40px 10px 40px 10px;border-radius:10px;width:100%;text-align:center;"
                        autocorrect="false" autocapitalizationType="none">
                        </TextField>
                        <Label text="Select a cuisine"   class="searcbanner"></Label>
                        <ListPicker [items]="listPickerCountries" class="picker"  [(ngModel)]="selectedListPickerIndex"></ListPicker>
                         <Label text="Order type"   class="searcbanner"></Label>
                        <ListPicker [items]="orderTypes" class="picker"  [(ngModel)]="selectedListPickerIndex"></ListPicker>

                        
                        <Button text="Go >" type="button" class="btn btn-secondary"
                        style=" background-color:#eee;border-radius:20px;padding:30px 20px 30px 20px;width:95%"
                        (tap)="onCloseDrawerTap()">
                        </Button> 
                        <Label text="Recent searches"  style="paddin-top:50" class="searcbanner"></Label>
                   </StackLayout>
                </StackLayout>

                <StackLayout tkMainContent>
                   
                    <ScrollView orientation="horizontal">
    <GridLayout class="m-15"
        columns="auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto">
         
           <Label   width="20" height="70" class="far h3 m-15" col="0" text="&#xf2b9;" (tap)="onOpenDrawerTap()">
        </Label>
        <Label  height="50" class="h3 m-15" col="1" text="Zip : Title 1">
        </Label>
        <Label height="50" class="h3 m-15" col="2" text="Cuisine : Title 2">
        </Label>
         <Label  height="50" class="h3 m-15" col="3" text="Order type : Title 3">
        </Label>
       
       
    </GridLayout>
</ScrollView>
<Label [text]="mainContentText" textWrap="true" fontSize="13" padding="10"></Label>
 <ListView [items]="countries" (itemTap)="onItemTap($event)" style="height:1250px">
  <ng-template let-country="item">
       
  <GridLayout columns="auto, *, auto" rows="auto, 35" verticalAlignment="top" backgroundColor="white" style="padding:20" >      
    <Image [src]="country.imageSrc" rowSpan="2" width="152"  margin="3" verticalAlignment="top"></Image>   
    <Label [text]="country.name" textWrap="true" col="1" colSpan="2" minHeight="50" fontSize="20" margin="3"></Label>
    <Label text="John Smith" col="1" row="1" fontSize="14" horizontalAlignment="left" verticalAlignment="bottom" margin="3"></Label>
    <Label [text]="country.grid" col="2" row="1" color="#10C2B0" fontSize="14" verticalAlignment="bottom" margin="3"></Label>
  
  </GridLayout>
</ng-template>
</ListView>
                   
                </StackLayout>
            </RadSideDrawer>   
            
 
</ScrollView>    
</GridLayout>
</TabContentItem>
 <TabContentItem>
     <GridLayout>
          <Label text="John Smith" col="1" row="1" fontSize="14" horizontalAlignment="left" verticalAlignment="bottom" margin="3"></Label>
     </GridLayout>
 </TabContentItem>
 <TabContentItem>
     <GridLayout>
          <Label text="settings" col="1" row="1" fontSize="14" horizontalAlignment="left" verticalAlignment="bottom" margin="3"></Label>
     </GridLayout>
 </TabContentItem>
</BottomNavigation>
</GridLayout>