<ActionBar title="Home" backgroundColor="#ff5533" fontColor="white">
 
  
    <WrapLayout  horizontalAlignment="center" (tap)="showModal()">
    
      <Image src="font://&#xf3c5;" class="fas t-36" width="12" height="12" (tap)="showModal()"></Image>
      <Label text="East of Kailash,Delhi,110065"   color="black" fontSize="14" (tap)="showModal()"></Label>
    </WrapLayout>
    
 
</ActionBar>
<GridLayout>
<BottomNavigation >
   <TabStrip>
        <TabStripItem backgroundColor="#ff5533" fontColor="white">
            <Image src="font://&#xf015;" class="fas t-36"></Image>
        </TabStripItem>
    <!-- <TabStripItem class="special" (tap)="search()" backgroundColor="#ff5533" fontColor="white">
            <Image src="font://&#xf002;" class="fas t-36"></Image>
        </TabStripItem>-->
        <TabStripItem class="special" (tap)="onCart()" backgroundColor="#ff5533" fontColor="white">
           
            <Image src="font://&#xf07a;" class="fas t-36" (tap)="onCart()"></Image>
        </TabStripItem>
         <TabStripItem class="special" backgroundColor="#ff5533" fontColor="white">
           
            <Image src="font://&#xf013;" class="fas t-36"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem >
     
    <GridLayout  rows="*" col="1">
       
  
    <StackLayout  style="text-align:left;">
      
   
    <ScrollView >

    <StackLayout  style="text-align:left;font-size:small;">
   <AbsoluteLayout  >

<WrapLayout  [width]=wrapWidth [height]=wrapHeight   >
    <SearchBar  fontColor="white" hint="Search" [width]=searchBarWidth [style]=searchBarStyle [text]="searchPhrase" (textChange)="onTextChanged($event)" 
            (submit)="onSubmit($event)"  textFieldHintColor="whitesmoke" autocapitalizationType="none" (tap)="showModal()" 
             height="25">
    </SearchBar></WrapLayout>

 <Button class="btn btn-primary w-full right" text="Cancel" (tap)="cancelSearch()"
                     style="border-radius:20px;font-size:x-small;" left="300"  [visibility]=cancelVisibility [horizontalAlignment]=rightAlign ></Button>

 </AbsoluteLayout>
 <StackLayout   *ngFor="let index of homeData">
 
        <WrapLayout class="searcbannerheader" >
          <label [text]="index.headerText" class="searcbannerheader"></label>
          <label text="more..." class="searcbannerheader" style="margin-left:210;" (tap)="getDetails()"></label>
         </WrapLayout >
        <ScrollView orientation="horizontal" style="vertical-align:top;" height="180" >
            <GridLayout  [columns]="gridCols"  orientation="horizontal" > 
                <ng-template ngFor let-h [ngForOf]="index.etList">
                <StackLayout [col]="h.idd" class="specials" >
                <Label class="footnote" [text]="h.text"></Label>
                <Image src="~/images/02.jpg" rowSpan="2" width="152" height="100"  margin="3" verticalAlignment="top" (tap)="getDetails()" class="roundimage"></Image>
                  <WrapLayout >
                    <ng-template ngFor let-t [ngForOf]="h.rating">
                     <Image src="font://&#xf005;" class="fas t-36 " width="15" height="10"></Image>
                    </ng-template>
                     <Label class="footnote" text="Grab it !!" ></Label>
                     <ng-template ngFor let-g [ngForOf]="h.expensiveIndex">
                     <Image src="font://&#xf156;" class="fas t-36 footnote" width="15" height="10" style="margin-left:30px;"></Image>
                     </ng-template>
                     <Label class="footnote" text="Delevering" ></Label>
                  </WrapLayout>
                 
                 </StackLayout>
                </ng-template>
            </GridLayout>    
       
        </ScrollView>
        
    
      </StackLayout>

    </StackLayout>    


    
         
</ScrollView>
</StackLayout>
    </GridLayout>
    </TabContentItem>
   
<!--<TabContentItem >
<GridLayout>
</GridLayout>
 </TabContentItem>-->
   
<TabContentItem >

 <GridLayout backgroundColor="#CCCCCC">

    <ScrollView>
      
      <StackLayout orientation="vertical" verticalAlignment="top" >
        
        <Image src="https://play.nativescript.org/dist/assets/img/flags/au.png" rowSpan="2" width="152"  margin="3" ></Image>  
        <Label text="John Smith hi" fontSize="14" col="2" row="1" verticalAlignment="top"  margin="10"></Label>
        <Label text="John Smith hi" fontSize="14" col="2" row="2" verticalAlignment="top"  margin="10"></Label>
      
        <ListView [items]="countries"   verticalAlignment="center">
            <ng-template let-country="item">
              <GridLayout columns="auto, *, auto" rows="auto, 35" verticalAlignment="top" backgroundColor="white" style="padding:20" >                 
                <Label [text]="country.name" textWrap="true" col="1" row="1" fontSize="12" width="80%"   ></Label>         
                <Label [text]="country.grid" (tap)="deleteItem($event)" col="12" row="1" width="20%" color="#10C2B0" fontSize="12"    style="float:right;margin-left:20;"></Label>  
              </GridLayout>
            </ng-template>
        </ListView>
     
      <Button class="-primary" text="Clear cart >"  style="border-radius:20px;"></Button>
      <Button class="-primary" text="Check out >" (tap)="checkout()" style="border-radius:20px;"></Button>

      </StackLayout>   

  </ScrollView>
    
</GridLayout>

 </TabContentItem>

 <TabContentItem>

     <GridLayout backgroundColor="#CCCCCC" >
    <ScrollView>
        <StackLayout margin="10" verticalAlignment="top">
       
      
            <Label text="Settings & History" class="label font-weight-bold m-b-5">
                    </Label>
            
          <StackLayout class="form settings"  backgroundColor="#FFFFFF" verticalAlignment="center" width="100%" height="50"  >
                 
                <StackLayout class="input-field" orientation="horizontal" width="100%"  >
                    <Label text="Your details"
                        class="label font-weight-bold m-b-5" width="50%" (tap)="deliverydetails()"></Label>
                         <Label text=""
                        class="label font-weight-bold m-b-5 right" width="45%"></Label>
                        
                        <Image src="font://&#xf054;" class="fas t-36 right" (tap)="deliverydetails()"></Image>
                   
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
             </StackLayout>
            
            <Label text="" class="label font-weight-bold m-b-5">
                    </Label>
            
          <StackLayout class="form settings"  backgroundColor="#FFFFFF" verticalAlignment="center" width="100%" height="50"  >
                 
                <StackLayout class="input-field" orientation="horizontal" width="100%"  >
                    <Label text="Order history"
                        class="label font-weight-bold m-b-5" width="50%" (tap)="orderHistory()"></Label>
                         <Label text=""
                        class="label font-weight-bold m-b-5 right" width="45%"></Label>
                        
                        <Image src="font://&#xf054;" class="fas t-36 right" (tap)="orderHistory()"></Image>
                   
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
             </StackLayout>

              <Label text="" class="label font-weight-bold m-b-5">
                    </Label>

             <StackLayout class="form settings"  backgroundColor="#FFFFFF" verticalAlignment="center" width="100%" height="50"  >
                 
                <StackLayout class="input-field" orientation="horizontal" width="100%"  >
                    <Label text="Contact us"
                        class="label font-weight-bold m-b-5" width="50%" (tap)="contact()"></Label>
                         <Label text=""
                        class="label font-weight-bold m-b-5 right" width="45%"></Label>
                        
                        <Image src="font://&#xf054;" class="fas t-36 right" (tap)="contact()"></Image>
                   
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
             </StackLayout>
                 
             
        </StackLayout>

    </ScrollView>
    
</GridLayout>
 </TabContentItem>
</BottomNavigation>
</GridLayout>