<ActionBar title="Food supplier 1" backgroundColor="#ff5533" fontColor="white">
  <NavigationButton text="Back" ios.position="left"></NavigationButton>

  <WrapLayout  >
    <Label text="Food supplier 1"   color="black" fontSize="16" marginLeft="35"></Label> 
    <Image src="font://&#xf07a;" class="fas t-36" (tap)="onCart()" marginLeft="110" width="15" height="15">
      
    </Image><Label text="5"   color="#10C2B0" fontSize="12"  style="position: absolute;" ></Label> 
    
  </WrapLayout>
</ActionBar>

<GridLayout>
 <StackLayout >

  <GridLayout columns="auto, *, auto" rows="auto, 35" verticalAlignment="top" backgroundColor="white" style="padding:20" class="st">     
    <WrapLayout >
      <StackLayout >
        <Image src="font://&#xf005;" class="fas t-36 " width="15" height="10"></Image>
        <Image src="font://&#xf005;" class="fas t-36 " width="15" height="10"></Image>
        <Image src="font://&#xf005;" class="fas t-36 " width="15" height="10"></Image>
        <Image src="font://&#xf005;" class="fas t-36 " width="15" height="10"></Image>
        <Image src="font://&#xf005;" class="fas t-36 " width="15" height="10"></Image>
      </StackLayout >
      <Image src="~/images/03.jpg" rowSpan="2" width="152"   verticalAlignment="top" class="roundimage"></Image>   
      
  
  </WrapLayout >
  <StackLayout col="1" colSpan="2" margin="3">
  <Label text="country.name" textWrap="true"   fontSize="20" ></Label>   
  <Label text="country.name" textWrap="true"   fontSize="20" ></Label>  
  <Label text="Rate this"  color="#10C2B0" fontSize="14" ></Label>
</StackLayout>
     

  </GridLayout>
  
  <ListView [items]="countries" (itemTap)="onItemTap($event)" [height]=screenHeight >
        <ng-template let-country="item">      
          <GridLayout columns="auto, *, auto" rows="auto, 35" verticalAlignment="top" backgroundColor="white" style="padding:20" class="st"> 
            <Label [text]="country.name" textWrap="true" col="1" row="1" fontSize="12" width="80%"   ></Label> 
            <Label text="Tap to add" col="12" row="1" width="20%" color="#10C2B0" fontSize="12"    style="float:right;margin-left:20;"></Label>
          </GridLayout>
        </ng-template>
  </ListView>
<Button class="-primary" text="Next >" (tap)="goToCart()" verticalAlignment="bottom" width="90%" style="border-radius:20px;"></Button>
  

</StackLayout >
</GridLayout>


