<ActionBar title="Checkout" backgroundColor="#ff5533" fontColor="white">
</ActionBar>
<GridLayout backgroundColor="#CCCCCC" >
    <ScrollView >
        <StackLayout margin="10" verticalAlignment="top">
       
        <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">
                  
                <StackLayout class="input-field">
                    <Label text="Get new exiting offers !!!!!"
                        class="label font-weight-bold m-b-5"></Label>
                    
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                
            </StackLayout>
            <Label text="Your Information" class="label font-weight-bold m-b-5">
                    </Label>
             <Label text="" class="label font-weight-bold m-b-5">
                    </Label>
            <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">
                 
                <StackLayout class="input-field" orientation="horizontal" width="100%" >
                    <Label text="Delivery details"
                        class="label font-weight-bold m-b-5" width="50%" (tap)="deliverydetails()"></Label>
                         <Label text=""
                        class="label font-weight-bold m-b-5 right" width="45%"></Label>
                        
                        <Image src="font://&#xf054;" class="fas t-36 right" (tap)="deliverydetails()"></Image>
                   
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                
            </StackLayout>
            <Label text="" class="label font-weight-bold m-b-5">
                    </Label>
            <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">
                 
                <StackLayout class="input-field" orientation="horizontal" width="100%">
                    <Label text="Special instructions"
                        class="label font-weight-bold m-b-5" width="50%" (tap)="specialinst()"></Label>
                          <Label text=""
                        class="label font-weight-bold m-b-5 right" width="45%"></Label>
                       <Image src="font://&#xf054;" class="fas t-36 right" (tap)="specialinst()"></Image>
                   
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                
            </StackLayout>
            <!-- <Label text="Payment Information" class="label font-weight-bold m-b-5">
                    </Label>
            <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">
                 
                <StackLayout class="input-field" orientation="horizontal" width="100%">
                    <Label text="Mode of payment"
                        class="label font-weight-bold m-b-5" width="50%" (tap)="modeofpayment()"></Label>
                          <Label text=""
                        class="label font-weight-bold m-b-5 right" width="45%"></Label>
                       <Image src="font://&#xf054;" class="fas t-36 right" (tap)="modeofpayment()"></Image>
                   
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                
            </StackLayout> -->
            <Label text="Order Information" class="label font-weight-bold m-b-5">
                    </Label>
             <StackLayout class="hr m-10"></StackLayout>       
            <Label text="Estimated delivery : 40-50 mins" class="label font-weight-bold m-b-5">
                    </Label> 
                     <Label text="**If the wait time is more then 1 hour " class="label font-weight-bold m-b-3">
                    </Label> 
                    <Label text="then we suggest you to call the business directly." class="label font-weight-bold m-b-3">
                    </Label> 
                    <Label text="We will not be responsible for late delivery " class="label font-weight-bold m-b-3">
                    </Label>
                    <Label text="or dishonered orders.**" class="label font-weight-bold m-b-3">
                    </Label>
                    <StackLayout class="hr m-10"></StackLayout>
            <Label text="Anotil's restaurant" class="label font-weight-bold m-b-5">
                    </Label>
            <Label text="1 big pizza" class="label ">
                    </Label> 
                    <Label text="6.00" class="label right">
                    </Label>
            <Label text="3 Fries" class="label ">
                    </Label> 
                     <Label text="7.00" class="label right">
                    </Label> 
            <StackLayout class="hr m-10"></StackLayout>  
             <Label text="Total" class="label font-weight-bold m-b-5">
                    </Label> 
                     <Label text="13.00" class="label right font-weight-bold m-b-5">
                    </Label>   
            <StackLayout class="hr m-10"></StackLayout> 

           
            
                   
       
                         


             
        </StackLayout>

    </ScrollView>
    <ActivityIndicator [busy]="busySign"  verticalAlignment="bottom"></ActivityIndicator>
     <Button class="-primary" text="Pay" (tap)="showModal()" isEnabled="true" style="border-radius:20px;" verticalAlignment="bottom"></Button>  
    
</GridLayout>
