<ActionBar title="Order history" backgroundColor="#ff5533" fontColor="white">

<NavigationButton text="Back" ios.position="left"></NavigationButton>
</ActionBar>

  <GridLayout >
  
  
 <StackLayout >
    <ScrollView orientation="horizontal" > 
    
         <Label  height="50" class="h3 m-15" col="3" text="Order type : Title 3">
        </Label> 

</ScrollView>   
  <GridLayout>
 <ListView [items]="countries" (itemTap)="orderHistoryDetails()" style="height:1250px">
  <ng-template let-country="item">
  <StackLayout >
  <GridLayout columns="auto, *, auto" rows="auto, 35" verticalAlignment="top" backgroundColor="white" style="padding:20" >      
    <Image [src]="country.imageSrc" rowSpan="2" width="152"  margin="3" verticalAlignment="top"></Image>  
    <Label [text]="country.name" textWrap="true" col="1" colSpan="2" minHeight="50" fontSize="20" margin="3"></Label>
    <Label [text]="country.id" col="1" row="1" fontSize="14" horizontalAlignment="left" verticalAlignment="bottom" margin="3"></Label>
    <Label [text]="country.grid" col="2" row="1" color="#10C2B0" fontSize="14" verticalAlignment="bottom" margin-right="500"></Label>
    
  </GridLayout>
   <Button class="-primary" col="3" row="50" text="Order again >"
                    (tap)="checkout()" style="border-radius:20px;"></Button>
  </StackLayout >
</ng-template>
</ListView></GridLayout>
</StackLayout>

 </GridLayout >
